<!-- navbar fragment -->
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <span class="navbar-brand" th:text="${siteTitle}">Título página</span>

      <ul class="navbar-nav ms-4">
        <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/community}">Comunidad</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/eventos/calendario}">Mi calendario</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/about}">Sobre nosotros</a></li>
      </ul>
      
      <!-- MANTIENE COLORES CON LOCALSTORAGE PERO HAY QUE ALMACENARLO EN BBDD !-->
      <script>
          (function () {
              const theme = localStorage.getItem("theme");
              const fontSize = localStorage.getItem("fontSize");

              if (theme) {
                  document.documentElement.setAttribute("data-theme", theme);
              }

              if (fontSize) {
                  document.documentElement.setAttribute("data-font", fontSize);
              }
          })();
      </script>

      <div class="ms-auto">
        <i class="bi bi-envelope mx-2"></i>
        <i class="bi bi-person mx-2"></i>
        <i class="bi bi-box-arrow-right mx-2"></i>
      </div>
    </div>
  </nav>
</div>