<!-- navbar fragment -->
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <span class="navbar-brand">Mi Sitio</span>

      <ul class="navbar-nav ms-4">
        <li class="nav-item">
            <a class="nav-link"
              th:href="@{/}"
              th:classappend="${currentPage == 'home'} ? 'active'">
              Inicio
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
              th:href="@{/eventos}"
              th:classappend="${currentPage == 'eventos'} ? 'active'">
              Eventos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
              th:href="@{/eventos/calendario}"
              th:classappend="${currentPage == 'calendario'} ? 'active'">
              Calendario
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
              th:href="@{/comunidad}"
              th:classappend="${currentPage == 'comunidad'} ? 'active'">
              Comunidad
            </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"
            th:href="@{/about}"
            th:classappend="${currentPage == 'about'} ? 'active'">
            Sobre nosotros
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
              th:href="@{/chat}"
              th:classappend="${currentPage == 'chat'} ? 'active'">
              Chatea con otras personas (Prueba)
            </a>
        </li>

      </ul>
      
        <script th:inline="javascript">
          (function(){
            var uid = /*[[${currentUserId}]]*/ 1;
            window.currentUserId = uid || 1;
          })();
        </script>
          <script th:src="@{/js/theme.js}"></script>

      <div class="ms-auto">
        <i class="bi bi-envelope mx-2"></i>
        <i class="bi bi-person mx-2"></i>
        <i class="bi bi-box-arrow-right mx-2"></i>
      </div>
    </div>
  </nav>
</div>